/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
body {
  padding: 0px; 
  
}

html { background:  transparent }

/* stock list header row */
.watchListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* stock list flex table */
.watchList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/* stock list Price and Change fields */
.watchListNumericColumn {
  text-align: right;
  width:8em;
}

/* stock list Remove column */
.watchListRemoveColumn {
  text-align: center;
}

/* Add Stock panel */
.addPanel {
  margin: 10px 0px 15px 0px;
}

/* stock list, the Remove button */
.gwt-Button-remove {
  width: 50px;
}

/* Dynamic color changes for the Change field */
.noChange {
  color: black;
}

.positiveChange {
  color: green;
}

.negativeChange {
  color: red;
}

.gwt-Button-search {
	width: 200px;
}

.navbar .navbar-inner .container-fluid .brand {
  padding: 0px;
}

.banderole
{
background-color:#A1C1DE;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#mainft {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.navbar-text {
  margin-bottom: 0;
  font-size: x-small;
  color: gray;
}

.navbar-greentext {
  margin-bottom: 0;
  font-size: x-small;
  color: greeny;
}

.smalltext {
  margin-bottom: 0;
  font-size: small;
  color: gray;
}

.smalltext-black {
  margin-bottom: 0;
  font-size: small;
  color: black;
}

.smalltext-white {
  margin-bottom: 0;
  font-size: small;
  color: white;
}

.whitetext {
  color: white;
}

.well {
   background-color: rgba(245, 245, 245, 0.4);
}

.wellbrand {
	
	min-height:20px;
	padding:2px;
	margin-top:10px;
  
	border:1px solid #e3e3e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	
	
background: rgb(21,42,67); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(21,42,67,1) 0%, rgba(28,64,94,1) 50%, rgba(24,58,88,1) 51%, rgba(38,91,132,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(21,42,67,1)), color-stop(50%,rgba(28,64,94,1)), color-stop(51%,rgba(24,58,88,1)), color-stop(100%,rgba(38,91,132,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(21,42,67,1) 0%,rgba(28,64,94,1) 50%,rgba(24,58,88,1) 51%,rgba(38,91,132,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(21,42,67,1) 0%,rgba(28,64,94,1) 50%,rgba(24,58,88,1) 51%,rgba(38,91,132,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(21,42,67,1) 0%,rgba(28,64,94,1) 50%,rgba(24,58,88,1) 51%,rgba(38,91,132,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(21,42,67,1) 0%,rgba(28,64,94,1) 50%,rgba(24,58,88,1) 51%,rgba(38,91,132,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152a43', endColorstr='#265b84',GradientType=0 ); /* IE6-9 */

}

 
.wellred {
	min-height:20px;
	padding:2px;
	margin-top:10px;
	
	border:1px solid #e3e3e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	background: #f85032; /* Old browsers */
background: rgb(248,80,50); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

}

.wellsilver {
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
	background-color: #eee;
	border:0px solid #e3e3e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.bgsilver {
	background-color: #eee;
}

.roundborders {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
} 
 
 .wellgreen {
	min-height:20px;
	padding:2px;
	margin-top:10px;
	border:1px solid #e3e3e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
background: #334A6F; /* Old browsers */

}  

.vcenter{
    vertical-align: middle;
}

.ontop{
    z-index: 10;
}


 